# List

In [22]:
x = [1,2,3,70,-10,0,99,"a","b","c"]
print(x)

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

In [23]:
x[3:7]

[70, -10, 0, 99]

In [24]:
print(x)
x[3:]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[70, -10, 0, 99, 'a', 'b', 'c']

In [3]:
print(x)
x[:3]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[1, 2, 3]

In [3]:
print(x)
x[3:-3]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[70, -10, 0, 99]

In [4]:
print(x)
x[3::3] # third argument here is step

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[70, 99, 'c']

In [25]:
print(x)
x[::2]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

[1, 3, -10, 99, 'b']

while accessing the elements with position , we can do replacement/substitution of the values too. Here is how:

In [26]:
print(x)

x[2]

[1, 2, 3, 70, -10, 0, 99, 'a', 'b', 'c']

3

In [27]:
x[2]="!!!"
x

[1, 2, '!!!', 70, -10, 0, 99, 'a', 'b', 'c']

In [31]:
print(x)
x[2:4]= "bipin"
print(x)
x

[1, 2, 'b', 'i', 'p', 'i', 'n', 'p', 'i', 'n', 'p', 'i', 'n', -10, 0, 99, 'a', 'b', 'c']
[1, 2, 'b', 'i', 'p', 'i', 'n', 'p', 'i', 'n', 'p', 'i', 'n', 'p', 'i', 'n', -10, 0, 99, 'a', 'b', 'c']

[1,
 2,
 'b',
 'i',
 'p',
 'i',
 'n',
 'p',
 'i',
 'n',
 'p',
 'i',
 'n',
 'p',
 'i',
 'n',
 -10,
 0,
 99,
 'a',
 'b',
 'c']

In [10]:
x=[23,45,67,2,5]
x[2:4]= ["bipin"]
x

[23, 45, 'bipin', 5]

In [82]:
x=[1,2,3,"hi"]
x.append("new")
print(x)

[1, 2, 3, 'hi', 'new']

In [83]:
print(x)
x.extend([1,2,3])
print(x)

[1, 2, 3, 'hi', 'new']
[1, 2, 3, 'hi', 'new', 1, 2, 3]

In [35]:
print(x)
x.extend([1,2,3])

[1, 2, 'b', 'i', 'p', 'i', 'n', 'p', 'i', 'n', 'p', 'i', 'n', 'p', 'i', 'n', -10, 0, 99, 'a', 'b', 'c', 'new', [1, 2, 3], 1, 2, 3]

In [15]:
print(x)
x.insert(2,"another")
print(x)

[23, 45, 'b', 'i', 'p', 'i', 'n', 'p', 'i', 'n', 'p', 'i', 'n', 'p', 'i', 'n']
[23, 45, 'another', 'b', 'i', 'p', 'i', 'n', 'p', 'i', 'n', 'p', 'i', 'n', 'p', 'i', 'n']

In [37]:
print(x)
x=x+[3,4,5]

[1, 2, 'b', 'i', 'p', 'i', 'n', 'p', 'i', 'n', 'p', 'i', 'n', 'p', 'i', 'n', -10, 0, 99, 'a', 'b', 'c', 'new', [1, 2, 3], 1, 2, 3, 1, 2, 3, 3, 4, 5]

For removing elements we will first look at function pop. One sepcial thing to notice about pop is that it removes the last element in place [does change x].

In [ ]:
print(x)
x.pop()

print(x)

In [39]:
print(x)
x.pop(5)

[1, 2, 'b', 'i', 'p', 'n', 'p', 'i', 'n', 'p', 'i', 'n', 'p', 'i', 'n', -10, 0, 99, 'a', 'b', 'c', 'new', [1, 2, 3], 1, 2, 3, 1, 2, 3, 3, 4, 5, 3, 4, 5]

'n'

In [42]:
print(x)
x=[1,2,3,"another",5,9,0]
x.remove("another")
print(x)

[1, 2, 3, 5, 9, 0]
[1, 2, 3, 5, 9, 0]

If you try to remove something which is not in the list , you'll get an error. Since we already removed "another" from the list. Lets try to remove it again. we'll get an error

In [ ]:
x.remove("another")

In [ ]:
#Two Dimensional Lists, below are list of lists where each have a individual list inside it
number_sets = [[2, 4, 6, 8,[1,2,[1,2,3,4]], 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]
print(number_sets[1])

In [43]:
number_sets = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]
print(number_sets[1][2])

9

In [44]:
a = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]] 
a[0].extend([12, 14, 16, 18]) 
print(a)

[[2, 4, 6, 8, 10, 12, 14, 16, 18], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]]

In [45]:
# Reversing a sublist  
  
a = [[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [4, 8, 12, 16, 20]] 
a[2].reverse() 
print(a)

[[2, 4, 6, 8, 10], [3, 6, 9, 12, 15], [20, 16, 12, 8, 4]]

List Comprehensions with For Loops
We'll now see how for loops can be directly written inside for loops to modify and create lists.

In [46]:
x=range(8)
print(x)
x_mod_2=[]

for a in x:
    x_mod_2.append(a%2)

x_mod_2

range(0, 8)

[0, 1, 0, 1, 0, 1, 0, 1]

we dont need to do this, instead we can directly write a for loop inside an empty list to populate values . Lets see how:

In [47]:
# x_mod_2=[]
x_mod_2=[a%2 for a in x]
x_mod_2

[0, 1, 0, 1, 0, 1, 0, 1]

# Dictionaries

In [48]:
d= {"actor":"nasir","animal":"dog","earth":1,"list":[1,2,3]}

In [49]:
d["actor"]

'nasir'

If the key doesnt exist, then it throws error

In [50]:
d['fish']

KeyError: 'fish'

In [54]:
d['animal'] = ['dog','cat']
d

{'actor': 'nasir', 'animal': ['dog', 'cat'], 'earth': 1, 'list': [1, 2, 3]}

In [55]:
d['animal'][0]

'dog'

In [12]:
# add new key value pair
d['module']="intro"
print(d)
d['list']

{'actor': 'nasir', 'animal': 'dog', 'earth': 1, 'list': [1, 2, 3], 'module': 'intro'}

[1, 2, 3]

In [ ]:
# removing a key value pair
del d['actor']
print(d)

In [56]:
# element access in loop
for elem in d:
    print(elem)
    print('value for key:%s is' % (elem) ,":",d[elem]) #format

actor
value for key:actor is : nasir
animal
value for key:animal is : ['dog', 'cat']
earth
value for key:earth is : 1
list
value for key:list is : [1, 2, 3]

In [57]:
d.items()

dict_items([('actor', 'nasir'), ('animal', ['dog', 'cat']), ('earth', 1), ('list', [1, 2, 3])])

In [ ]:
for a,b in d.items():
    print('value for key:%s is %s' %(a,b))

In [ ]:
my_dict = {'name':'Guhan', 'age': 24}

# update value
my_dict['age'] = 26

#{'name': 'Guhan', 'age': 26}
print(my_dict)

# add item
my_dict['address'] = 'CHennai'  

#{'name': 'Guhan', 'age': 26, 'address': 'CHennai'}
print(my_dict)

In [ ]:
# create a dictionary
squares = {1:1, 2:4, 3:9, 4:16, 5:25}  

# remove a particular item
# Output: 16
print(squares.pop(4))   

# Output: {1: 1, 2: 4, 3: 9, 5: 25}
print(squares)

# delete a particular item
del squares[5]  

# Output: {1:1,2: 4, 3: 9}
print(squares)

# remove all items
squares.clear()

# Output: {}
print(squares)

# delete the dictionary itself
del squares

# Throws Error
print(squares)

# Sets

In [59]:
animals = {'cat', 'dog'}
'cat' in animals #use of in operator to check whether an element is there or not
'fish' in animals

False

In [60]:
animals.add('fish')
print(animals)

{'dog', 'fish', 'cat'}

In [61]:
animals.remove('cat')
print(animals)

{'dog', 'fish'}

because of sets being unordered , you can not assume the order which you see while creating it; while using it in a for loop comprehension. See below:

In [62]:
animals = {'cat', 'dog', 'fish','here','there'}
for animal in animals:
    print(animal)

dog
there
cat
fish
here

following functions associated with sets :
union, intersection, issubset, issuperset, differnce, symmetric_differnce

In [18]:
a={1,2,3,4,5,6,'one'}
b={4,5,6,7,8,9}
c=a.union(b)
print(c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'one'}

In [63]:
a={1,2,3,4,5,6,'one'}
b={4,5,6,7,8,9}
a.intersection(b)

{4, 5, 6}

In [81]:
a={1,2,3,4,5,6,'one'}
b={4,5,6,7,8,9}
print(a.issubset(b))
a.issubset(c)

False

True

In [18]:
a={1,2,3,4,5,6,'one'}
b={4,5,6,7,8,9}
c.issuperset(b)

True

In [64]:
print(a)
print(b)
a.difference(b)

{1, 2, 3, 4, 5, 6, 'one'}
{4, 5, 6, 7, 8, 9}

{1, 2, 3, 'one'}

In [19]:
print(a)
print(b)
a.symmetric_difference(b)

{1, 2, 3, 4, 5, 6, 'one'}
{4, 5, 6, 7, 8, 9}

{1, 2, 3, 7, 8, 9, 'one'}

# Tuples

In [68]:
t = 12345, 54321, 'hello!' 
t

(12345, 54321, 'hello!')

In [77]:
t= ([1, 2, 3], [3, 2, 1])
print(type(t))
t[0][0]=5
t

<class 'tuple'>

([5, 2, 3], [3, 2, 1])

In [78]:
print(t)
t[1][0]=21
print(t)

([5, 2, 3], [3, 2, 1])
([5, 2, 3], [21, 2, 1])

In [73]:
var = 13
tup = (var,12,13)
print(tup)
var =14
print(var)
tup

(13, 12, 13)
14

(13, 12, 13)

In [79]:
d2 = {(x, x + 1): x for x in range(10)}  
# Create a dictionary with tuple keys
print(d2)

{(0, 1): 0, (1, 2): 1, (2, 3): 2, (3, 4): 3, (4, 5): 4, (5, 6): 5, (6, 7): 6, (7, 8): 7, (8, 9): 8, (9, 10): 9}

In [80]:
list1 = [1,2,4,5]
for i in enumerate(list1):
    print(i)
#     print('index:',i[0])
#     print('value at index %d:'%(i[0]) ,i[1])

(0, 1)
(1, 2)
(2, 4)
(3, 5)